.random {
  color: grey;
}

.repeat {
  color: grey;
}

.active {
  color: inherit;
}

.play-pause .mat-icon {
  font-size: 36px;
  height: 36px;
  width: 36px;
  line-height: 36px;
}

.controls {
  text-align: center;
}

.time {
  text-align: center;
}

.time-slider {
  width: 50%;
}

.volume-slider.mat-slider {
  min-width: 90px;
}

.preview {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.preview img {
  max-width: 100px;
}

.preview .info {
  place-self: center;
}

.preview .title {
  font-weight: bold;
}

.preview .artist {
  font-size: 80%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.left {
  display: none;
  place-self: center;
}

.center1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.center2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.right {
  display: none;
  place-self: center;
}

@media only screen and (min-width: 718px) {
  .container {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .left {
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .center1 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .center2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .right {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
