<div>
  <span>Paused: {{model.paused}}</span>
  <span>CrtTime: {{model.currentTime}}</span>
  <span>Duration: {{model.duration}}</span>
  <span>Volume: {{model.volume}}</span>
  <span>Random: {{model.random}}</span>
  <span>Track: {{model.trackData.title}}</span>
  <div></div>
  <mat-slider [min]="0" [max]="model.duration || 10" [(value)]="sliderTime"
              (mousedown)="sliderChangeStart()" (mouseup)="sliderChangeEnd()"></mat-slider>
  <div></div>
  <mat-slider [min]="0" [max]="1" [step]="0.01" [value]="model.volume" (input)="volumeChange($event)"></mat-slider>
  <div></div>
  <button (click)="playPauseClick()">{{model.paused ? 'Play': 'Pause'}}</button>
  <button (click)="backwardClick()">Back</button>
  <button (click)="forwardClick()">Forward</button>
  <button (click)="randomClick()">Random</button>
</div>
