<div>
  <span>Paused: {{model.paused}}</span>
  <span>CrtTime: {{model.currentTime}}</span>
  <span>Duration: {{model.duration}}</span>
  <span>Volume: {{model.volume}}</span>
  <span>Random: {{model.random}}</span>
  <span>Track: {{model.trackData.title}}</span>
  <div></div>
  <span>Time:</span>
  <mat-slider [min]="0" [max]="model.duration || 10" [(value)]="sliderTime"
              (mousedown)="sliderChangeStart()" (mouseup)="sliderChangeEnd()"></mat-slider>
  <div></div>
  <span>Volume</span>
  <mat-slider [min]="0" [max]="1" [step]="0.01" [value]="model.volume" (input)="volumeChange($event)"></mat-slider>
  <div></div>
  <button mat-icon-button class="random" [class.active]="model.random" (click)="randomClick()">
    <mat-icon>shuffle</mat-icon>
  </button>
  <button mat-icon-button (click)="backwardClick()">
    <mat-icon>fast_rewind</mat-icon>
  </button>
  <button mat-icon-button (click)="playPauseClick()">
    <mat-icon>play_circle_outline</mat-icon>
  </button>
  <button mat-icon-button (click)="forwardClick()">
    <mat-icon>fast_forward</mat-icon>
  </button>
</div>
