<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">BitForce music player</mat-toolbar>
<div class="content">
  <app-track-bar [model]="trackBarModel" [currentTime]="trackBarModel.currentTime"
                 (playPauseClicked)="onPlayPauseClick($event)" (timeChanged)="onSeek($event)"
                 (volumeChanged)="onVolumeChanged($event)"
                 (playbackChanged)="onPlaybackChanged($event)"
                 (playbackStateChanged)="onPlaybackStateChanged($event)"
                 (muteStateChanged)="onMuteStateChanged()"
  ></app-track-bar>
  <app-songs-queue [items]="queue" [selectedIndex]="currentTrackIndex" [playing]="playing"
                   (songSelected)="onSongSelected($event)"></app-songs-queue>
</div>
